.cont{
    height: 120px;
    max-width: 100%;
    overflow: hidden;
    background-image: url('../../../public/assets/divider.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}