#contact{
    color: var(--text-color);
    background-image: url('../../public/assets/Contact_bg.png');
    background-size: cover;
}


#contact .container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contact .soical-media h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

#contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}
#contact .soical-media{
    flex-wrap: 1;
}

#contact form .input{
    background-color: transparent;
    color: var(--text-color);
    outline: none;
    border: none;
    border-bottom:1px solid var(--text-color);
}
#contact form button{
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid;
}
