#home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    overflow: hidden;
    padding-top: 20vh;
}
.text{
    color: var(--text-color);
    text-align: start;
    width: 50%;
    height: auto;
}
.text .roles{
    color: var(--secondry-color);
}



.img{
    margin-right: 3%;
    width: 50%;
    position: relative;
    min-height: 400px;
}
.img img{
    width: 350px;
    height: 278px;
    position: absolute;
}
.img #point-img{
    left: 15%;
    opacity: 0.3;
}
.img #computer-img{
    border-radius: 15%;
    right: 15%;
    bottom: 0;
}

@media (max-width: 990px) {
    .img{
        display: none;
    }
    .text{
        width: 100%;
    }
}