#projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); /* Creates 3 equal columns */
    gap: 5px; /* Optional: Adds space between the items */
}

.container .project-card{
    position: relative;
}

.project-card img{
    max-width: 100%;
    height: 100%;
}

.project-card .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    color: var(--text-color);
    background: linear-gradient(#4ee8c9c2, #0313119e 40%);
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    font-size: small;
    transition: 0.5s;
}
.container .project-card:hover .overlay{
    visibility: visible;
    height: 100%;
}

.project-card .code-link{
    font-size: large;
}

.project-card .description{
    margin-bottom: 3px;
}

.project-card .tech-icons{
    font-size: 1.3rem;
    display: flex;
    gap: 3px;
}