.prograss{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px var(--primary-color);
}
.inner-contents{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}