#skills{
    text-align: center;
    color: var(--text-color);
    min-height: var(--sectons-hight);
    background-color: #024e44;
}

#skills .container{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); /* Creates 3 equal columns */
    gap: 30px;
}

#skills .doughnut{
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}