#skills{
    text-align: center;
    color: var(--text-color);
    min-height: var(--sectons-hight);
    background-color: #024e44;
}

#skills .container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#skills .doughnut{
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}